body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: radial-gradient( circle 341px at 10% 20%,  rgba(132,94,194,1) 0%, rgba(196,243,251,1) 90% );
    }
    #auth-container, #welcome-page {
    background:  rgb(189, 174, 238);
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    }
    
    input {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 16px;
    width: 100%;
    margin-bottom: 1rem;
    }
    button {
    padding: 0.5rem;
    border: 2px solid rgb(148, 124, 224);
    border-radius: 4px;
    background-color:#b676b1;
    color: black;
    font-size: bold;
    cursor: pointer;
    width: 100%;

    }
    button:hover {
        background-image: linear-gradient( 68.7deg,  rgba(235,217,221,1) 8%, rgba(216,174,211,1) 55.4%, rgba(145,130,196,1) 91.1% );

    }
    a {
    color: black;
    text-decoration: none;
    }
    a:hover {
    text-decoration: underline;
    font-size: 1.2rem;
    cursor: pointer;
    }
